@mixin desktop {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}



@mixin largeDesktop {
    @media screen and (min-width: $large-desktop-width) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $desktop-width) {
        @content;
    }
}



@mixin scrollbar($width, $track-color, $thumb-color) {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: $width;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        width: $width;

        background: $track-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        // border-radius: 6px;
        background: $thumb-color;
    }
}

@mixin noScrollbar {
    overflow-y: scroll;

    min-height: 100%;
    max-height: 100%;

    &::-webkit-scrollbar {
        width: 0;
    }
}


