// Spacing
$space: 1.5rem;

$desktop-width: 1000px;

$large-desktop-width: 1600px;

// Colors



$color-text: #161319;

$color-blue: #0024ff;
// $color-pink: #ff706f;

// $color-black: #191919;

// $color__link: $color-pink; //
// $color__link-visited: darken($color-pink, 10); //
// $color__link-hover: darken($color-pink, 10); //

$font-default: 'Helvetica Neue', sans-serif;

$font-headings: 'Montserrat', sans-serif;

$font-nav: 'Montserrat', sans-serif;
// SFProText

$font-size-default: 13px;

$font__size-small: 14px;

$font__size-large: 20px;

$font-size_h1: 40px;

$font-size_h1-small: 30px;

$font-size_h1-large: 50px;

$font-size_h2: 30px;

$font-size_h2-small: 25px;

$font-size_h3: $font__size-small;
